<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7mOSWLRu8z7q3a-voTSgKbRBdR8elB90</string>
	<key>GCM_SENDER_ID</key>
	<string>980227870391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admob.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>admob-b25a0</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-b25a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980227870391:ios:7237cb5a44793af25f0732</string>
</dict>
</plist>